<div class="container">
  <h1>Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
